// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h5 {
  color: rgb(6, 6, 6);
  text-decoration: none;
  background-color: antiquewhite;
}
